<div id="test1FRAME">
<p>========= 1 =========</p>
    <iframe src="https://webisforgames.io/player/3/" title="Game Box" height="603" width="1080" frameBorder="0" allow="fullscreen"></iframe>
<p>========= 2 =========</p>
    <div id="slotAAA">
      <slot name="slotAAA"></slot>
    </div>
<p>========= 3 =========</p>
    <div id="slotBBB">
      <slot name="slotBBB"></slot>
    </div>
<p>========= 4 =========</p>
</div>
